.center{
    width: 50%;
    margin: auto;
    text-align: center;
}

.login{
    //background-color: rgba(0,0,0,.1);
    border: 1px solid lightslategray;
    box-shadow: 2px 2px 5px 2px lightslategrey;
    padding: 40px 20px;
}