.work-history{
    border: 1px solid lightslategray;
    box-shadow: 2px 2px 5px 2px lightslategrey;
    margin-bottom: 10px;
    padding: 10px;
}
mdl-icon{
    font-size: 1.3em;
    vertical-align: sub;    
}
.mdl-button{
    color: green;
}